* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: 'Amatic', sans-serif;
  display: inline-block;
  background: url('/Untitled.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flex-container {
  flex-direction: column;
  width: 600px;
  margin-left: 160px;
  margin-top: 280px;
  text-align: center;
}

.flex-item-1 input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 20px;
  font-size: 2vh;
}
span {
  margin-right: 10px;
  font-size: 2vh;
}

.button {
  background-color: transparent;
  margin: 15px 0;
  padding: 5px;
  border-radius: 2px;
  width: 20vh;
  color: white;
  font-size: 2vh;
}

#funny_answer {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}
@media (min-width: 800px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}
